@import "../../assets/stylesheets/breakpoints";
@import "../../assets/stylesheets/variables";

.app-layout {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr max-content;
}

.app-main {
  grid-row: 2/3;
  grid-column: 1/-1;

  display: grid;
  grid-template-rows: 0.7fr 1fr;
  grid-template-columns: 1fr;

  &__left {
    grid-row: 1/2;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__right {
    grid-row: 2/-1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  @include breakpoint("medium") {
    grid-row: 1/-1;
    grid-template-columns: 1fr 1fr;

    &__left {
      grid-row: 1/-1;
      grid-column: 1/2;
    }

    &__right {
      grid-row: 1/-1;
      grid-column: 2/-1;
    }
  }
}

.app-header {
  grid-row: 1/2;
  grid-column: 1/2;

  min-height: $header-height;

  display: flex;
  align-items: center;

  &__logo {
    color: $primary-color;
    font-weight: bold;
    font-size: 1.7rem;
    text-transform: uppercase;
    text-decoration: none;

    & > span {
      color: $secondary-color;
    }

    cursor: pointer;
    user-select: none;
  }
}

.app-footer {
  grid-row: -2/-1;
  grid-column: 1/-1;

  min-height: $footer-height;

  display: flex;
  justify-content: space-between;
  align-items: center;

  & > span {
    color: lighten($primary-light-color, 25%);
    font-size: 1.2rem;
    font-weight: 500;

    & > a {
      position: relative;

      color: lighten($primary-light-color, 25%);
      text-decoration: none;

      transition: all 300ms;

      &::before {
        content: "";
        position: absolute;
        bottom: -0.2rem;
        width: 100%;
        height: 100%;
        border: 0.15rem solid $secondary-color;
        border-right: 0rem;
        border-left: 0rem;
        border-top: 0rem;
        transform: scaleX(0);
        transform-origin: left;
        transition: all 300ms ease-out;
      }

      &:hover {
        color: darken($primary-light-color, 5%);

        &:before {
          transform: scaleX(1);
        }
      }
    }

    user-select: none;
  }
}
